.authentication {
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    font-size: $f-l-size;
}

.authentication_title {
    font-size: $f-l-size;
    font-weight: 650;
    font: Brandon Grotesque,sans-serif;
}

.authentication_signup {
    padding-bottom: 2rem;
}

.authentication_captcha {
    padding-top: 1.2rem;
}

.authentication_forgot {
    padding-top: 1.5rem;
}

.authentication_user_profile {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.authentication_forgot_password {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.authentication_forgot_password_back {
    margin-top: 3rem;
}