.event-modal {

}

.event-modal_cards {
    margin: 1rem 0.5rem 1rem 0.5rem;
    font-size: $m-size;
    font-weight: 550;
    color: $cool-blue;
    font-family: Brandon Grotesque,sans-serif;
}

.event-modal_cards_title {
    font-size: 2rem;
    font-weight: 750;
    color: $cooler-blue;
}

.event-modal_cards_price {
    color: $cool-blue;
}

.event-modal_image {
   height: 35vh;
   width:  auto;
   object-fit: cover;
   float: left;
}

.event-modal_tickets {
    align-self: center;
    margin-top: 0.2em;
    text-transform: uppercase;
    letter-spacing: 0.12rem;
}

.event-modal_share {
    margin: auto;
    padding: 3rem 2rem 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.event-modal_checkout {
    font-size: $f-m-size;
    font-weight: 600;
}

.event-modal_description {
    font-size: $f-s-size;
    line-height: 2rem;
    padding-bottom: 2rem; 
    margin: 0 1rem 0 0.5rem;
}

.btn-success {
    background-color: black !important;
    border-color: black !important;
}

.btn-success:hover {
    background-color: $cooler-blue !important;
    border-color: $cooler-blue !important;
}

.badge-primary {
    background-color: black !important;
    border-color: black !important;
}


