.header-bar {
    background: #fff;
    height: 8rem;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    padding-bottom: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 5px rgba(0,0,0,.13);
    position: fixed;
    width: 100%;
    margin-bottom: 3.5rem;

}

.header-bar_hero {
    box-shadow: 0 0 5px rgba(0,0,0,.13);
    padding-right: 2.5vw;
}

.header-bar_hero_links {
    text-decoration: none !important;
    color: #17a2b8;
    font-size: 2.65rem;
    font-weight: 350;
    margin-right: 4rem;
}

@media only screen and (min-width: 770px) {
    .header-bar__fix {
        top: 2.25rem;
    }
}

.header-bar_logo {
    color: $cooler-blue;
    font-size: 4.3rem;
    font-weight: 500;
    padding-left: 2.2rem;
    text-decoration: none;
}

.header-bar_links {
    font-size: 2.2rem;
    font-weight: 350;
    margin-right: 4rem;
}

.header-bar_logout {
    font-size: 2.2rem;
    font-weight: 250;
    border-radius: 2.5rem;
}

.header-bar__nav_link {
    
    color: #807a7d;
    text-align: center;
    padding: 0 1.1rem 0 1.1rem;
    text-decoration: none;
    font-size: 1.9rem;
    font-weight: 500;
    border-radius: 2.5rem;
    cursor: pointer;
    margin-right: 5vw;

}

.header-bar__nav_link_button {
    background: $button-blue;
    color: #fff;
    letter-spacing: 0.07rem;
    border-radius: 1.5rem;
    margin: auto;
    padding: 0.5rem 2.5rem 1rem 2.5rem;
    font-weight: 700;
    text-decoration: none;
    border-style: none;
}

.header-bar_navlink {
    text-decoration: none;
    color: #807a7d;
}
