.hero-layout {
    background: #eef8f6;
}

.hero-layout__sigin {
    text-align: center;
}

.hero-layout__slider {
    align-items: center;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    max-width: none;
    padding: 1.2rem;
}