.image-slider {
    margin: 2.5vw 1.5vw;
}

.image-slider__herotext {
    font-family: Brandon Grotesque,sans-serif;
    font-weight: 600;
    
    color: #265675;
    font-size: 4.2vw;
    line-height: 5vw;
    margin: 3.5rem 2rem 2rem 3rem;
}

.image-slider__herotext__underneath {
    font-family: Brandon Grotesque,sans-serif;
    font-weight: 400;
    text-transform: lowercase;
    color: #265675;
    font-size: 2.5vw;
    line-height: 2.5vw;
    margin: 3rem 2rem 2rem 2rem;
}

.image-slider__herotext_mobile {
    font-family: Brandon Grotesque,sans-serif;
    font-weight: 600;
    
    color: #265675;
    font-size: 5vw;
    line-height: 7vw;
    margin: 2.5rem 2rem 2rem 2rem;
    text-align: left;
}
