.input-field {
    border: 1px solid #cacccd;
    height: 50px;
    width: 75%;
    padding: 1.2rem;
    font-size: 3rem;
    font-weight: 350;
}

.input-field__dropdown {
    height: 50px;
    padding: 0.8rem;
    width: 25%;
    font-size: 2.5rem;
    font-weight: 350;
    border: 1px solid #cacccd;
}

.input-field__padder {
    margin: 2rem 0;
}