.input-field {
    border: 1px solid #cacccd;
    height: 50px;
    width: 70%;
    padding: 1.2rem;
    font-size: 1.5rem;
    font-weight: 350;
}

.input-field__dropdown {
    @extend .input-field;
    width: 30%
}

.input-field__padder {
    margin: 2rem 0;
    width: 10rem;
    height: 5rem;
}

.input-field-description {
    width: 25%;
    height: 15rem;
}

.input-field-title {
    width: 25%;
}

.input-field-price {
    width: 25%;
}

.input-field-public {
    margin: 2rem 0;
}

.input-field_create {
    @extend .input-field;
    height: 300px;
    width: 100%;
}