// Brand Colors
$button-blue: #000cdd;
$logo-blue: #000cdd;
$cool-blue: #265675;
$cooler-blue: #17a2b8;
$background-blue: #eef8f6;
$title-blue: rgb(0, 59, 143);
$subtitle-blue: rgb(70, 99, 140);

// Spacing
$s-size: 1.2rem;
$m-size: 1.35rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

// Weight
$s-weight: 250;
$m-weight: 500;
$l-weight: 800;

// Font Size
$f-s-size: 1.42rem;
$f-m-size: 2.15rem;
$f-l-size: 4.55rem;